<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/layout :: head"></head>
</head>
<body>
<header th:replace="layouts/layout::header"></header>
<div class="container">
	<table class="table">
 <thead>
  <tr>
     <th scope="col">ID</th>
     <th scope="col">Descripcion</th>
     <th scope="col">Estado</th>
  </tr>
 </thead>
 <tbody>
 
  <tr th:each="perfiles: ${perfiles}">     
     <td th:text="${perfiles.perf_id}"/>
     <td th:text="${perfiles.descripcion}" />
     <td th:text="${perfiles.cod_estado}" />
     <td> <a th:href="@{/formperfiles/} + ${perfiles.perf_id}" th:text="'Editar'" 
             class="btn btn-primary btn-xs" ></a></td>
     <td> <a th:href="@{/eliminarperfiles/} + ${perfiles.perf_id}" th:text="'Eliminar'" 
             class="btn btn-danger btn-xs" 
             onclick="return confirm('Estas seguro?')" ></a></td>
  </tr>
 </tbody>
</table>
</div>

<a th:href="@{/formperfiles}" class="btn btn-primary">Crear Perfil</a>
<a th:href="@{/}" class="btn btn-secondary">Regresar</a>
<footer th:replace="layouts/layout::footer"></footer>
</body>
</html>